body {
  background-color: #342713;
  line-height: 1.5;
}

/* container */
.container {
  width: 100%;
  margin: 0 auto;
}

/* header */
.header-information {
  width: 100%;
  padding: 0 10% 12px;
  border-bottom: 1px solid #594522;
  background-image: url("../images/background-header.png");
  background-size: contain;
  background-position: center;
  background-repeat: none;
  position: relative;
  overflow: hidden;
}

.navigation-content {
  height: 90px;
  width: 50%;
  float: right;
  padding: 15px;
}

.navigation-content .menu .menu-item {
  float: left;
}

.header-information .about-me,
.header-information .look-for-designer {
  min-height: 300px;
}

/* main content */
.main-content {
  background-color: #201b0e;
  width: 100%;
  padding: 30px 10% 12px;
  border-bottom: 1px solid #594522;
}

.main-content .heading-2 {
  padding: 0 15px;
}

.products-list {
  width: 100%;
}

.products-list .image {
  height: 200px;
}

.products-list .item-content {
  padding-top: 10px;
}

.products-list .item-content .description {
  margin-bottom: 0;
}

/* information section */
.information-section {
  width: 100%;
  padding: 30px 10%;
  border-bottom: 1px solid #594522;
}

.information-section .information-box:nth-child(2n+1) {
  clear: none;
}

.information-section .title-link {
  color: #ea9f3e;
  display: inline-block;
}

.information-section .title-link:hover {
  color: #d7d01d;
}