* {
  box-sizing: border-box;
}

/* clearfix */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

/* row */
.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

.logo-information {
  min-height: 90px;
  width: 50%;
  float: left;
  padding: 15px;
}

.logo .logo-link {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #cdcab0;
}

.slogan {
  font-family: 'Aref Ruqaa', sans-serif;
  color: #af9671;
}

.btn-menu-group {
  cursor: pointer;
  display: none;
  width: 39px;
  height: 33px;
  border-radius: 2px;
  padding: 4px;
  position: absolute;
  top: 7px;
  right: 10px;
  z-index: 2;
}

.btn-menu-group:hover {
  background-color: #e7e5d4;
}

.btn-menu-group .icon-line-3 {
  margin-bottom: 0;
}

.menu {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.menu .menu-item .menu-item-link {
  text-decoration: none;
  display: inline-block;
  padding: 10px 12px;
  color: #af9671;
  border: 1px solid transparent;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  box-shadow: 0 0 3px 3px rgba(0,0,0,0);
}

.menu .menu-item .menu-item-link:hover {
  color: #f1ea40;
  border: 1px solid #f1ea40;
  box-shadow: 0 0 3px 3px rgba(234, 234, 214, 0.29);
}

.clapse-menu-box {
  width: 100%;
  height: auto;
  position: absolute;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
  right: -100%;
}

.clapse-menu-box .menu {
  list-style-type: none;
}

.clapse-menu-box .menu .menu-item {
  width: 100%;
  background-color: #d3bea1;
}

.clapse-menu-box .menu .menu-item .menu-item-link {
  text-align: center;
  display: block;
  color: #211c0f;
  border: none;
}

.clapse-menu-box .menu .menu-item .menu-item-link:hover {
  color: #ff9;
  background-color: #af9670;
  font-weight: bold;
}

.heading-2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ea9f3e;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 17px;
}

.description {
  color: #cdcab0;
  margin-bottom: 15px;
}

.information-email {
  color: #ea9f3e;
  text-decoration: none;
}

.information-email:hover {
  text-decoration: underline;
}

.image {
  width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.list .list-item .item-container {
  width: 100%;
}

.list .list-item .item-container .item-image-box {
  padding: 5px;
  border: 2px solid #3c3218;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  width: 100%;
  height: 200px;
}

.list .list-item .item-container .item-image-content {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.list .list-item .item-container .item-image {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.list .list-item .item-container .item-image-box:hover {
  border: 2px solid #856f3a;
}

.title-link {
  text-decoration: none;
  color: #af9671;
}

.title-link:hover {
  color: #f1ea40;
}

.social-network-list .social-network-item .social-network-link {
  display: inline-block;
  text-decoration: none;
  color: #af9671;
  padding: 10px 0;
}

.social-network-list .social-network-item .social-network-link:hover {
  color: #f1ea40;
}

.internal-link {
  width: 100px;
  clear: left;
  padding: 0 15px;
}

.return-to-top {
  display: block;
  text-decoration: none;
  color: #ea9f3e;
  width: 200px;
  -webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
  transition: color 1s;
}

.return-to-top:hover {
  color: #f1ea40;
}

/* footer */
.footer-information {
  width: 100%;
  padding: 40px 10%;
  background-color: #201b0e;
}

.footer-information .copyright {
  color: #cfcdb4;
  padding: 0 15px;
}

[class*="icon-"]{
  display: inline-block;
  background-position: center;
  width: 32px;
  height: 32px;
}

.icon-left {
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
}

.icon-services {
  background-image: url("../icons/icon-painter.png");
}

.icon-tweets {
  background-image: url("../icons/icon-tweets.png");
}

.icon-contact {
  background-image: url("../icons/email.png");
}

.icon-delicious {
  background-image: url("../icons/icon-delicious.png");
}

.icon-flickr {
  background-image: url("../icons/icon-flickr.png");
}

.icon-menu {
  background-image: url("../icons/icon-menu.png");
}

.icon-close::before {
  background-image: url("../icons/icon-close.png");
}

[class^="icon-line"]{
  background-color: #ea9f3e;
  height: 5px;
  display: block;
  width: 30px;
  margin-bottom: 4px;
  border-radius: 2px;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
}