@media only screen and (min-width: 414px) {
  .look-for-designer-box .look-for-designer-image {
    float: left;
    max-width: 40%;
    height: auto;
    margin-right: 20px;
  }

  .look-for-designer-box .look-for-designer-text {
    float: right;
    width: calc(60% - 20px);
  }
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  .list .list-item:nth-child(2n+1) {
    clear: left;
  }
}

@media only screen and (max-width: 703px) {
  .header-information,
  .main-content,
  .information-section,
  .footer-information {
    padding-left: 0;
    padding-right: 0;
  }

  .navigation-content {
    width: 70px;
    padding: 0;
  }

  .logo-information {
    width: calc(100% - 70px);
  }

  .navigation-content .btn-menu-group {
    display: inline-block;
  }

  .navigation-content .menu {
    display: none;
  }

  .navigation-content.responsive-menu {
    padding: 0;
  }

  .navigation-content.responsive-menu .btn-menu-group .icon-line-1 {
    transform: rotate(45deg);
    position: absolute;
    top: 14px;
    margin: 0;
  }

  .navigation-content.responsive-menu .btn-menu-group .icon-line-2 {
    display: none;
  }

  .navigation-content.responsive-menu .btn-menu-group .icon-line-3 {
    transform: rotate(-45deg);
    position: absolute;
    top: 14px;
    margin: 0;
  }

  .navigation-content.responsive-menu + .clapse-menu-box {
    right: 0;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .list .list-item:nth-child(3n+1) {
    clear: left;
  }
}