.detail-container {
  .header-information {
    padding-bottom: 2px;
    overflow-y: visible;
  }
  .detail-box {
    .detail-image {
      height: 500px;
      .image-backrgound {
        height: calc(100% - 34px);
        border-radius: 4px;
      }
      .description {
        color: #ff9;
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    .detail-information {
      height: auto;
      .detail-information-content {
        height: 100%;
        background-color: #f2ece3;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 4px 4px 4px rgba(240, 235, 235, 0.9);
        padding: 10px 5%;
        overflow: auto;

        .heading-2 {
          text-align: center;
          text-transform: none;
        }

        .list {
          margin-bottom: 20px;
        }
      }
    }
  }
}